@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #020617; /* equivalente ao bg-slate-950 */
  color: #e5e7eb;            /* equivalente ao text-slate-200 */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
