@import "tailwindcss";

:root {
  color-scheme: light;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #f6f7f8; /* vibe Sympla */
  color: #0f172a;      /* slate-900 */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

a {
  color: inherit;
}
